* {
    margin:0px;
    padding: 0px;
}

a {
    display: block;
    text-decoration:none;
}

/* .icon_play {
    width:64px;
    fill:red;
} */

.header {
    width:322px;
    background-image: url(../img/background.png);
    background-color: rgba(8, 7, 7, 0.8);
    background-size: cover;
    color:#f3f3f3;
}

.logo_link {
    text-align:center;
    color:#f3f3f3;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    margin:125px auto 38px auto;
}

img {
    display: block;
}

.sing_up, .log_in {
    font-size:12px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    margin-top:30px;
}

.log_in {
    text-align: right;
    }




.tagline {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    font-family: 'Montserrat', sans-serif; 
     
}

.tagline_cont {
    font-size: 18px;
    margin: 19px 35px;
    text-transform: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.find_link {
    padding: 12px;
    text-align: center;
    border-radius:30px;
    background-color: #ff4e50;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width:280px;
    margin: 19px auto 139px auto;
}

.meet_partner {
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-top:68px;
}

.partner_name {
    text-align:center;
    margin:20px auto 16px auto;
    color:#333333;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.wrapper_img {
    
    margin-top: 14px;
}

.partner_info {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.wrapper_img img {
    border-radius: 100px;
    margin:auto;
}

.log_in:hover {
    border: solid 2px #ffffff;
    border-radius: 150px;
}

.sing_up:hover {
    border: solid 2px #ffffff;
    border-radius: 150px;
}
.see_other_link {
    border:solid 2px #ff4e50;
    border-radius:30px;
    color: #ff4e50;
    font-weight:bold;
    padding: 12px;
    margin:29px auto 58px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width:280px;
    
}

.wrapper_img {
    width: 122px;
    position: relative;
    margin: auto;
}

.tv::after {
    background-image: url(../img/Shape-tv.png);
    width:38px;
    height:38px;
    content:"";
    position: absolute;
    bottom: -4px;
    right: 1px;
}

.battle::after {
    background-image: url(../img/Shape-battle.png);
    width:38px;
    height:38px;
    content:"";
    position: absolute;
    bottom: -4px;
    right: 1px;
}

.cup::after {
    background-image: url(../img/Shape-cup.png);
    width:38px;
    height:38px;
    content:"";
    position: absolute;
    bottom: -4px;
    right: 1px;
}

.plane::after {
    background-image: url(../img/Shape-plane.png);
    width:38px;
    height:38px;
    content:"";
    position: absolute;
    bottom: -4px;
    right: 1px;
}

@media (min-width:768px) {
    .header {
    width: 768px;
    background-image: url(../img/backdround_768.png);
    }
.logo_link {
    margin: 46px auto 38px auto;
    text-align: left;
}

.tagline {
    margin: 160px auto 40px auto;
    font-size: 50px;
}
 .find_link {
     margin: 34px auto 234px auto;
 }
 .sing_up, .log_in {
    margin-top:46px;
}
}

@media (min-width: 1200px) {
    .header {
        width:1440px;
        background-image: url(../img/backdround_1440.png);
    }
    .find_link {
        margin: 34px auto 234px auto;}
}




/* 
@media (min-width:768px) {
    .header {
    width: 768px;
    background-image: url(../img/backdround_768.png);
    }
.ord_1, .ord_3 {
    order:0;
}
    .wrapper {
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin: 0px 46px;
    padding-top: 46px;
    }

    .logo_link {
        margin: 0px;
        font-size: 20px;
    }

    .find_link {
        padding: 12px;
        width:226px;
        margin: auto;        
    }

    .sing_up, .log_in {
        padding: 10px 11px;
    }

    .tagline {
    font-size: 50px;
    margin: 100px 140px auto 140px;
    }

    .main {
     width:768px;
    }

    .other_partners {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:458px;
    }

    .partners {
        width:196px;
    }

    .see_other_link {
        width:193px;
        margin:29px auto;
        text-align: center;
      
    }
    .wrapper_img {
        margin-top: 31px;
    }

    .tagline_cont {
        font-size: 24px;
        margin: 35px auto;     
    }

    .meet_partner {
        font-size: 24px;
        font-weight:bold;
    }

    .find_section {
        padding-bottom: 234px;
    } 

}

@media (min-width:1440px) {
    .header {
    width: 1440px;
    background-image: url(../img/backdround_1440.png);
    }

    .main {
        width:1440px;
    }
   
    .other_partners {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    width:914px; 
    }

    .logo_link {
    font-size: 20px;
    }
    
    .sing_up, .log_in {
    font-size:18px;
    padding: 10px 11px;
    }

    .tagline{
    width: 484px;
    margin:auto;
    }

    .wrapper {
    margin-bottom: 160px;
    }

    .see_other_link, .find_link {
    font-size: 16px;
    } */
   
    
} 