// переменные для использования шрифтов
$montser:'Montserrat', sans-serif;
$kaushan:'Kaushan', sans-serif;
// $montser_b:'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// цвета
$pink-col:#f38181;
$white-col:#fae7e3;
$lightGrey:#959595;
$grey:#333333;
$yellow:#fce38a;
$blue:#95e1d3;
$liner_yelow:rgba(238, 214, 135, 0.8);
$liner_pink:rgba(240, 137, 138, 0.8);
