
* {
    margin: 0;
    padding: 0;
}
img, a {
    /*display: block;*/
}
a{
    text-decoration: none;
    color: #191919;
}
ul {
    list-style: none;
}
/*HEADER*/
.header {
    width: 1366px;
    margin: auto;
    background-color:#ffffff;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo_img {
    width: 31px;
    height: 25px;
}
.nav-header {
    height: 72px;
    width: 1170px;
    margin:auto;
    padding-top: 38px;
}
.logo, .menu-item {
    float: left;}
.menu-item {
    margin-left:30px;
    text-transform: uppercase;
    font-style: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: black;
}
.menu-item:hover>a {
    color: violet;
}
.header-menu {
    
    list-style-type: none;
    margin-right: 10px;
    float: right;
}

/*MAIN*/

.main{
    width: 1366px;
    margin: auto;
    background-color: #f6f6f6;
}

.preposition {
    width:1170px;
    margin: auto;
}
.prepos_text {
    float: left;
    width: 435px;
    
}
.prepos_img {
    float:right;
    width: 683px;
    
}
.main_item {
    font-family: 'Montserrat', sans-serif;
    margin-top: 105px;
    font-size: 51px;
     color: #171717;
     
}
.general_info {
    margin-top: 33px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color:#838383;

}
.prepos_text span {
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    color:#838383;
}


.general_info_add {
    margin-top: 60px;
    font-family: 'Nunito Sans', sans-serif;
    color:#838383;
    line-height: 1.8;
} 

.general_info_add a {
    font-family: 'Nunito Sans', sans-serif;
    color:#838383;
    
}


.blog_nav { 
    width:1170px;
    padding: 45px 98px;
    margin: auto;
    background-color:#ffffff;
    
}
  
.blog_nav_prev {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color:#838383;
    text-transform: uppercase;
}
.blog_nav_next {
    float: right;
    font-family: 'Montserrat', sans-serif;
    color:#838383;
    text-transform: uppercase;
}
.blog_nav_all {
    text-align: center;
    margin-left: 383px;
}



/*FOOTER*/

.footer {
    width: 1366px;
    margin: auto;
    background-color: #141414;
}

.container {
    width: 1170px;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.info, .contact, .footer-menu a{
    font-family: 'Nunito Sans', sans-serif;
    color:#ffffff;
    font-size: 15px;
}
.info-title {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}

.info, .contact, .footer-nav, .footer-menu {
    float: left;
}
.footer-menu-item {
    text-decoration: none;
}
.info span {
    display: block;
}
.contact {
    font-family: 'Work Sans', sans-serif;
    margin-left: 246px;
}
.footer-nav {
    margin-left: 145px;
}
.news {
    margin-left: 55px;
}
.networks {
    margin-left: 135px;
}